@model IEnumerable<e_libraryProject.Models.BookAuthor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<partial name="_SearchSortBar" model="((string)ViewBag.Search, (string)ViewBag.Sort)" />
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Book)</th>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            <th>@Html.DisplayNameFor(model => model.AddedAt)</th>
            <th>@Html.DisplayNameFor(model => model.Note)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Book?.Title</td>
                <td>@item.Author?.Name</td>
                <td>@Html.DisplayFor(modelItem => item.AddedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.Note)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
